<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="y2k.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon">

        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".flat.ConstraintTestActivity"
            android:exported="true" />

        <activity
            android:name=".DslExampleComponent$Activity"
            android:exported="true" />

        <activity
            android:name=".TodoListComponent$Activity"
            android:exported="true" />

    </application>

</manifest>